.drag-and-drop{
    z-index:1000;
}

.drag {
    z-index: 1001;
}

.question-frame{
    position: relative;
    width: 90vw;
    height: calc(90vw*6/5);
    margin: 0 auto;
    border:1px solid #000;
    background-color:#fff;
}

.question-box{
    position: absolute;
    width:20%;
    height:calc(200%/3);
    color:#000;
    font-size:18vw;
    text-align:center;
    line-height: 72vw;
    border:1px solid #000;
    background-color:#fff;
}

.letter{
    margin:0;
    line-height: 100%;
    position: absolute;
    font-size: 18vw;
    top:0;
    left:0;
    opacity: 0;
    transition-duration: 0.5s;
}

.letter.show{
    opacity: 1;
}
