@viewport {
    width: device-width;
    user-zoom: fixed;
}

.drag-and-drop{
    z-index:1000;
}

.drag {
    z-index: 1001;
}

html {
    height:100%;
    background-color: black;
    -webkit-text-size-adjust: none;
}

body {
    text-align: center;
}

body p {
    color:white;
    font-size: 7vw;
    line-height: 100%;
}

.question-frame{
    position: relative;
    width: 90vw;
    height: calc(90vw*6/5);
    margin: 0 auto;
    background-color:#fff;
}

.q-frame-2{
    position: relative;
    width: 90vw;
    height: calc(90vw*7/5);
    margin: 0 auto;
    background-color:#fff;
}

.question-box{
    position: absolute;
    width:20%;
    height:calc(200%/3);
    color:#000;
    font-size:18vw;
    text-align:center;
    line-height: 72vw;
    border:1px solid #000;
    background-color:#fff;
}

.qimg{
    position: absolute;
    width:20%;
    height:calc(400%/7);
}

.qimgtrim{
    position: absolute;
    width:20%;
    height:calc(100%/7);
    object-fit: cover;
    object-position: 0 0;
}

.smooth {
    transition: 0.5s;
}

.letter{
    margin:0;
    line-height: 100%;
    position: absolute;
    font-size: 18vw;
    top:0;
    left:0;
    opacity: 0;
    transition-duration: 0.2s;
}

.letter.show{
    opacity: 1;
}

.hidebox{
    position: absolute;
    z-index: 1002;
    background-color: white;
    width: 100%;
    height: calc(300%/7);
}
