<div class="background plusback">
  <div class="element_boxa">
    <img src="/3rd_stage.png" class="first_stage_logo">

    <!-- <div class="back_message"> -->
    <!-- <%= link_to("＜再読み込み＞","/third/top/#{@team}")%> -->
    <!-- </div> -->

    <!-- 画像が読み込み出来てるかの確認 -->
    <img src="/pic/text/text0.png" class="hid">
    <img src="/pic/text/text1.png" class="hid">
    <img src="/pic/text/text2.png" class="hid">
    <img src="/pic/text/text3.png" class="hid">
    <img src="/pic/text/text10.png" class="hid">
    <img src="/pic/text/text11.png" class="hid">
    <img src="/pic/text/text12.png" class="hid">
    <img src="/pic/text/text13.png" class="hid">
    <img src="/pic/text/text20.png" class="hid">
    <img src="/pic/text/text21.png" class="hid">
    <img src="/pic/text/text22.png" class="hid">
    <img src="/pic/text/text23.png" class="hid">
    <img src="/pic/text/text30.png" class="hid">
    <img src="/pic/text/text31.png" class="hid">
    <img src="/pic/text/text32.png" class="hid">
    <img src="/pic/text/text33.png" class="hid">

    <div class="nazo_essence">
      <div>
        <a class="circle_number">Extra</a>
      </div>
      <div>
        <div class="main" id="main">
          <img src="/white.png" class="image00" id="image000">
          <img src="/pic/qbox.png" class="drag-and-drop qimg qtrim" id="box1">
          <img src="/pic/qbox.png" class="drag-and-drop qimg" id="box2">
          <img src="/pic/text/text0.png" class="letterimg show" id="letter">
        </div>
        <div class="third_form">
          <%= form_tag("/third/confirm/#{@team}") do %>
          <input name="selfanswer" class="text_place_a" placeholder="カタカナで入力">
          <input type="submit" value="解答" class="deciding_a">
          <% end %>
          <% if @confirm_cons == 1%>
          <p class="wrong">解答が間違っています</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <a href="/third/top/<%="#{@team}"%>">
    <p class="reloading">＜再読み込み＞</p>
  </a>
</div>
<script>
    //画像のプリロード
  var images = [];
  for(var i = 0; i < 4; i++) {
      for(var j = 0; j < 4; j++) {
        images.push("/pic/text/text" + (i*10+j) + ".png");
      }
  }

  document.addEventListener('turbolinks:load', function(){
  for(var i = 0; i < images.length; i++){
    var img = document.createElement('img');
    img.src = images[i];
  }
  document.getElementById('box1').style.visibility = 'visible';
  document.getElementById('box2').style.visibility = 'visible';
  document.getElementById('letter').style.visibility = 'visible';
  document.getElementById('image000').style.visibility = 'visible';



  //文字表示用の位置管理変数
  var pos_box1 = 0;
  var pos_box2 = 0;

  //要素の取得
  var elements = document.getElementsByClassName("drag-and-drop");
  var letter = document.getElementById("letter");

  //要素内のクリックされた位置を取得する変数
  var y;
  var pos_y;
  var grid = document.getElementById("box1").clientHeight;
  grid /= 4;

  //要素内がタップされたときに発火
  for(var i = 0; i < elements.length; i++) {
      elements[i].addEventListener("touchstart", mdown, false);
  }

  //タップされた瞬間の関数
  function mdown(e) {

      //クラス名に .drag を追加
      this.classList.add("drag");
      this.classList.remove("smooth");

      //文字表示を消す
      letter.classList.remove("show");

      //タッチイベントとマウスのイベントの差異を吸収
      var event = e.changedTouches[0];

      //要素内の相対座標を取得
      y = event.pageY;

      //ムーブイベントにコールバック
      document.body.addEventListener("touchmove", mmove, {passive:false});

      //タップの場合はすぐこちらに移動
      this.addEventListener("touchend", mup, false);
      document.body.addEventListener("touchleave", mup, false);
  }

  //動いている間の関数
  function mmove(e) {

      //ドラッグしている要素を取得
      var drag = document.getElementsByClassName("drag")[0];

      //同様にマウスとタッチの差異を吸収
      var event = e.changedTouches[0];

      //フリックしたときに画面を動かさないようにデフォルト動作を抑制
      e.preventDefault();

      //指が動いた場所に要素を動かす
      pos_y = event.pageY - y;
      if (drag.getAttribute('id') == "box1") {
          pos_y += pos_box1 * (-grid);
      } else {
          pos_y += pos_box2 * (-grid);
      }
      if (pos_y > 0) {
          pos_y = 0;
      } else if (pos_y < -grid*3) {
          pos_y = -grid*3;
      }
      drag.style.objectPosition = "0 " + pos_y + "px";

      //指が離れたら発火
      drag.addEventListener("touchend", mup, false);
      document.body.addEventListener("touchleave", mup, false);

  }

  //指が離れた時の関数
  function mup(e) {
      var drag = document.getElementsByClassName("drag")[0];
      drag.classList.add("smooth");

      for(var i = 0; i < 4; i++) {
          if (-grid * (i+0.5) <= pos_y && pos_y < -grid * (i-0.5)) {
              drag.style.objectPosition = "0 " + -grid * i +"px";
              if (drag.getAttribute('id') == "box1") {
                  pos_box1 = i;
              } else {
                  pos_box2 = i;
              }
          }
      }

      //boxの位置によって文字を変化
      letter.src = "/pic/text/text" + (pos_box1*10+pos_box2) + ".png";

      //文字を見えるように
      letter.classList.add("show");

      //ムーブベントハンドラの消去
      document.body.removeEventListener("touchmove", mmove, false);
      drag.removeEventListener("touchend", mup, false);

      //クラス名 .drag も消す
      drag.classList.remove("drag");
  }
  });

</script>
